.bearthread {
width: 600px;
border: 1px solid #eee;
margin: 20px auto;
padding: 20px; 
position: relative }

.beardate {
 position: absolute;
 top: 40px; right: 40px;
 font-family: "Amoria";
 font-size: 30px;
 color: #000;
 text-shadow: -2px 0px rgba(var(--main)); 
 text-transform: uppercase;
}

.bearinner {
width: 560px;
background: #eee;
padding: 80px 20px 20px 20px;
font-size: 15px;
line-height: 140%;
text-align: justify;
font-family: lato;
border-top: 4px solid rgba(var(--main));
border-bottom: 4px solid rgba(var(--alt));}

.bearinner b {
color: rgba(var(--main)); }

.bearinner i {
font-style: italic;
color: rgba(var(--alt)); }
