#gene {--main:255, 153, 201; --alt:193, 189, 219; --unicode:'\c29'; }
#gene .hauyne-h1:before { font-family:'harc';  }

#manon {--main:131, 119, 141; --alt:93, 63, 75; --unicode:'\c45'; }
#manon .hauyne-h1:before { font-family:'harc';  }

#maud {--main:204, 87, 95; --alt:101, 84, 100; --unicode:'\c30'; }
#maud .hauyne-h1:before { font-family:'harc';  }

#nessa {--main: 156, 171, 160; --alt:241, 181, 181; --unicode:'\c43'; }
#nessa .hauyne-h1:before { font-family:'harc';  }

#pal {--main:98, 121, 184; --alt:201, 182, 190; --unicode:'\c34'; }
#pal .hauyne-h1:before { font-family:'harc';  }

#penny {--main:112, 193, 179; --alt:129, 193, 122; --unicode:'\c40'; }
#penny .hauyne-h1:before { font-family:'harc';  }

#sailor {--main:230, 172, 162; --alt:197, 196, 141; --unicode:'\c44'; }
#sailor .hauyne-h1:before { font-family:'harc';  }

#yara {--main: 170, 173, 208; --alt:177, 189, 187; --unicode:'\c32'; }
#yara .hauyne-h1:before { font-family:'harc';  }

#zosia {--main: 98, 67, 67; --alt:130, 116, 82; --unicode:'\c42'; }
#zosia .hauyne-h1:before { font-family:'harc';  }
