#gene {--main: 223, 62, 139; --alt: 230, 106, 165; --unicode:'\c29'; }
#gene .hauyne-h1:before { font-family:'harc';  }

#judy {--main: 216, 143, 68; --alt: 193, 117, 40; --unicode:'\e11'; }
#judy .hauyne-h1:before { font-family:'bearsicle';  }

#manon {--main: 123, 90, 135; --alt: 149, 115, 161; --unicode:'\c45'; }
#manon .hauyne-h1:before { font-family:'harc';  }

#maud {--main: 64, 166, 132; --alt: 90, 191, 158; --unicode:'\e12'; }
#maud .hauyne-h1:before { font-family:'bearsicle';  }

#misun {--main: 171, 65, 207; --alt: 189, 106, 217; --unicode:'\c35'; }
#misun .hauyne-h1:before { font-family:'harc';  }

#nessa {--main: 145, 174, 49; --alt: 173, 203, 71; --unicode:'\c43'; }
#nessa .hauyne-h1:before { font-family:'harc';  }

#pal {--main: 61, 186, 209; --alt: 103, 200, 219; --unicode:'\c34'; }
#pal .hauyne-h1:before { font-family:'harc';  }

#penny {--main: 149, 82, 66; --alt: 180, 104, 86; --unicode:'\c40'; }
#penny .hauyne-h1:before { font-family:'harc';  }

#sailor {--main: 255, 112, 163; --alt: 255, 163, 196; --unicode:'\c44'; }
#sailor .hauyne-h1:before { font-family:'harc';  }

#yara {--main: 100, 112, 155; --alt: 131, 140, 175; --unicode:'\c32'; }
#yara .hauyne-h1:before { font-family:'harc';  }

#zosia {--main: 157, 98, 121; --alt: 176, 130, 148; --unicode:'\c42'; }
#zosia .hauyne-h1:before { font-family:'harc';  }
