.poppin-bx {width: 500px;
   position: relative;
   margin: 20px auto;
   padding: 10px;
   background: #fff; 
   border: 1px solid #ddd;
   background: #fff;
   border-radius: 5px;
  }

  .poppin-in { 
   font-size: 15px;
   color: #444;
   line-height: 24px;
   margin: 10px auto;
   margin-top: 100px;
   padding: 45px;
   text-align: justify;
   background: #fff;
  }
  
  .poppin-icon {
    height: 40px; width: 40px;
    position: relative;
    top: 60px; 
    font-family: 'harc', 'bearsicle';
    font-size: 60px;
    color: rgba(var(--main));
    text-shadow:-2px 0 #ddd;
  }
  
  .poppin-icon:before {
    content: var(--unicode);
  }
  
  .poppin-tag {
   width: 390px;
   margin-top: 20px;
   padding: 10px;
   background: rgba(var(--alt), 0.2);
   font-size: 14px;
  }
  
  .poppin-tag a.user-tagged {
   font-size: 14px;
   color: rgba(var(--main));
   text-transform: uppercase;
   text-decoration: none!important;
  }
  
  .poppin-in b {
   font-weight: 700;
   color: rgba(var(--main)); 
  }
  
  .poppin-in i {
   font-style: italic;
   color: rgba(var(--main));
  }

  .poppin-in a {
   text-decoration: underline;
   color: rgba(var(--alt));
  }

  .poppin-bx span.dice-roll {
   border: 0px!important;
   display: inline-block;
   text-transform: lowercase;
  }
  
  .poppin-bx span.dice-roll b {
   border-bottom: 2px solid rgba(var(--main), 0.2);
  }
  
  .poppin-date {
   font-size: 12px;
   text-transform: uppercase;
   position: absolute;
   top: 160px; right: 60px;
   color: rgba(var(--alt));
   letter-spacing: 2px;
   font-style: italic;
  }
